@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.example-form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
  font: 190% serif;
  margin: auto;
}

.example-full-width {
  width: 100%;
}


.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: white;
}


.numbbut{

  height: 60px;
  width: 80px;
  
}

.funcbutt{

height: 120%;
width: 50%;

}

.footer {
  background: white;
}

.main {
  
  padding: 10px; 

  
  margin: auto 30%;
}



body {
  padding: 2em; 
}

.items-wrapper {
 display: inline-flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}
.item{
  min-width: 33%;
}


