<div class="wrapper">
  <header class="header">
    <p>Calculate</p>
    <p>Статус: <span [ngStyle]="{'color':isConnected?'green':'red'}"> {{ status }}! </span></p>
  </header>
  <div class="main">

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <textarea matInput #inputdata placeholder="Data"></textarea>
      </mat-form-field>
    </form>

    <div class="items-wrapper">
      <div class="item" *ngFor="let item of [].constructor(10); let i = index">
        <button class="numbut" mat-button (click)='addNumberToLine((i + 1) % 10)'><h1>{{(i + 1) % 10}}</h1></button>
          
      </div>

    </div>

    <footer class="footer">
      <button class="funcbutt" mat-raised-button (click)="addItem(inputdata.value)">Solution</button>
      <button class="funcbutt" mat-raised-button (click)="clear() ">Delete</button>
    </footer>
  </div>




  <router-outlet></router-outlet>